<article class="post">
    <div class="completePost">
        <div class="info-section">
            <div class="postName">
                <a href="/post/{{id}}" class="links">{{title}}</a>
            </div>
            <div class="created-by">
                <p id="commentSub">
                    Posted by <b>{{user.username}} </b> on <b>{{formatDate created_at}}</b>
                </p>
            </div>
        </div>
        <div class="contentSection">
            <p>{{content}}</p>
        </div>
    </div>
</article>